<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Checker</title>
</head>
<body>
   <center> <h1>Palindrome Check</h1>
    <h1>Palindrome Check</h1>

    <form method="post">
        <label for="string">Enter a string:</label>
        <input type="text" id="string" name="string" required>
        <button type="submit">Check</button>
    </form>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</center>
</body>
</html>
